body {
    text-align: center;
}
    
#page {
    text-align: center;
    max-width: 960px;
    background-color: darkgrey;
    padding: 30px;
    color: white;
    font-family: 'Audiowide', cursive;
    margin: 0 auto;
}

input {
    border-radius: 5px;
    border: 1px solid black;
}

button {
    border-radius: 5px;
    color: white;
    background-color: darkred;
    font-family: 'Audiowide', cursive;
    border-color: crimson;
}

button:hover {
    background-color: crimson;
    border-color: lightcoral;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: orange;
    color: white;
    border-radius: 3px;
    padding:5px;
    border-style: groove;
    border-color: lightsalmon;
}

li:hover {
    background-color: crimson;
    color: white;
    padding: 5px;
    border-radius: 3px;
    border-style: groove;
    border-color: lightcoral;
}

.cool {
    background-color: lightblue;
    color: darkblue;
    padding: 5px;
    border-radius: 3px;
    border-style: groove;
    border-color: aliceblue;
}

p {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border-style: groove;
}

i {
    float: right;
}